<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorServiceSvc" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8765/CalculatorServiceSvc.svc/mex"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorServiceSvc"
                contract="CalculatorService_Proxy.Services.ICalculatorServiceSvc"
                name="BasicHttpBinding_ICalculatorServiceSvc" />
            <endpoint address="net.tcp://localhost:8764/CalculatorServiceSvc"
                binding="netTcpBinding" bindingConfiguration="netTcp" contract="CalculatorService_Proxy.Services.ICalculatorServiceSvc"
                name="netTcp">
                <identity>
                    <userPrincipalName value="DESKTOP-644G20U\alvar" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>